<!DOCTYPE html>
<html>

<head>
    <!-- link to main stylesheet -->
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Frank D'Agostino</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home
              </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/template/about">About
                        <span class="sr-only">(current)</span>
                       </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/template/cv">CV</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <center>
                    <h1 class="font-weight-light">About Me</h1>
                </center>
                <p class="lead">I am 19 years old and from New Jersey. Growing up, I was always fascinated by math and science and sought to learn more and more. During middle school, I studied for and took the entrance exam for the Marine Academy of Technology and Environmental Science,
                    more commonly referred to as MATES. As a STEM-focused public school located in Manahawkin, New Jersey, I had the amazing opportunity of being accepted and attending for the next four years. During my time at MATES, I participated in
                    a wide range of extracurricular and research opportunities. Graduating as valedictorian of my class, I then continued my journey to Harvard University. As a current undergraduate freshman, I continue to meet new people and take challenging
                    classes that resonate with my childhood wonders. A comprehensive list of the relevant things I have participated in or worked on can be found throughout this website. Below, I list some of the organizations I am currently a part of
                    and some of the exciting classes I have taken.</p>

                <hr>

                <center><h2 class="font-weight-light">Current Involvements</h2></center>
                <hr>
                <h4 class="my-4">Northeastern DASH Study</h4>

                <p class="lead">I am currently working with a research group at Northeastern University, led by Dr. Maiya Geddes to analyze the effects of affirmational messaging on older sedentary adult motivation and physical activity. Using fMRI scans and daily digital
                    messaging, we will be observing the effectiveness of these methods for clinical use. I am responsible for helping create the fMRI tasks in MATLAB and designing and creating the daily messaging system using Python, HTML, and oTree.</p>

                <h4 class="my-4">Harvard iGEM Team</h4>

                <p class="lead">As a member of the Harvard College International Genetically Engineered Machine (iGEM) team, I work on our project to compete at the annual iGEM competition. Utilizing a variety of laboratory and mathematical techniques, we work to innovate
                    new solutions to problems using synthetic biology. This year, we are working on a project to mathematically model a DNA origami structure in order to deliver specific antibodies for zoonotic viruses.</p>

                <h4 class="my-4">Harvard Open Data Project Team</h4>

                <p class="lead">On the Harvard Open Data Project (HODP) team, we work to make data regarding Harvard University open source and easily accessible to anyone. I work on annual data analysis projects using R and Python, and we publish monthly articles regarding                    new relationships or studies conducted by HODP. I recently worked on a project observing the statistical distribution of students who cross-register to Harvard from other institutions, as well as which course graduate students take
                    at Harvard College.</p>

                <hr>

                <center><h2 class="font-weight-light">Harvard Courses</h2></center>
                <hr>
                <center>
                <p class="lead">MATH 23C: Mathematics for Statistics, Computation, and Data Science</p>
                <p class="lead">ECON50: Using Big Data to Solve Economic and Social Problems</p>
                <p class="lead">CS50: Introduction to Computer Science</p>
                <p class="lead">E-PSCI101: Global Warming Science 101</p>
                <p class="lead">MATH 23A: Linear Algebra with Real Analysis</p>
                <p class="lead">EXPOS20: Expository Writing, Work: Power, Culture, and Control</p>
                <p class="lead">GENED1038: Sleep</p>
                <p class="lead">PSY1: Introduction to Psychological Science</p>
                <p class="lead">FRSEMR 23R: Asteroids and Comets</p>
                </center>
                <hr>
                
                <center><h2 class="font-weight-light">MATES, Stockton University, and Ocean County College Courses</h2></center>
                <hr>
                
                <center>
                <p class="lead">Computer Science with Data Analysis</p>
                <p class="lead">Research Methods and Applications</p>
                <p class="lead">Research and Mathematical Analysis</p>
                <p class="lead">GEOL 2120: Geology and Astrophysics</p>
                <p class="lead">MARS 2202: Oceanography</p>
                <p class="lead">ENVL 1100: Environmental Science</p>
                <p class="lead">OCC BIOL 161: Biotechnology</p>         
                <p class="lead">OCC Calculus 265: Calculus</p>
                <p class="lead">OCC PHYS 171/172: Physics I and Physics II</p>
                <p class="lead">OCC SPAN 251: Spanish IV</p>
                <p class="lead">OCC ENG151/152: English Literature and Composition</p>
                </center>
                <hr>

                <p class="lead">Please explore my website and feel free to reach out with any questions!</p>

                <footer>
                    <center>
                        <ul>
                            <li><a href="mailto:fdagostino@college.harvard.edu">email</a>
                            </li>
                            <li><a href="https://github.com/frankdag20">github.com/frankdag20</a>
                            </li>
                        </ul>
                    </center>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>

