<!DOCTYPE html>

<html>



<head>

    <!-- link to main stylesheet -->

    <link href="/css/main.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Frank D'Agostino</title>

</head>



<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">

        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">

                        <a class="nav-link" href="/index">Home

                <span class="sr-only">(current)</span>

              </a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/template/about">About</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="/template/cv">CV</a>

                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <div class="container">

        <div class="card border-0 shadow my-5">

            <div class="card-body p-5">

                <center>
                    <h2 class="my-4">Predicting and Modeling Sea Level Rise in the Barnegat Bay</h2>
                </center>

                <h2 class="my-4"><small>Abstract</small> </h2>

                <p class="lead">Barnegat Bay is a key lagoonal back-barrier estuarine system that plays a large role in the economic activity and ecosystem of the New Jersey coast. As the largest body of water in New Jersey, over half a million people affect it annually
                    through nutrient pollution and runoff. In order to further understand the anthropogenic impact, many studies have been conducted to model the bay. Despite these models giving researchers an idea of the different properties of a bay
                    system, they do not take advantage of computational advancements that have occurred in recent years or account for changing parameters, such as sea level rise. The SCHISM open-source program has several libraries in order to model
                    the hydrodynamics of water, taking into account wind, the Coriolis effect, baroclinic differences, and depth. Utilizing this model and bathymetric data, a current model of Barnegat Bay was formulated. The study suggests that poor circulation
                    in the northern part of the bay is a result of the decreased outflow from urbanization, providing evidence that increased eutrophication in the northern bay could be a result from the poor circulation in that area. The mathematical
                    utilized to analyze these relationships can be applied to other key bodies of water.</p>

                <hr>

                <h2 class="my-4"><small>Data and Visualization</small> </h2>

                <p class="lead">In order to create the model, 32,678 elevation data points across the Barnegat Bay were collected by the United States Geological Survey. The data can be seen here as a raster plot, contour plot, and bathymetry plot.</p>

                <center>
                    <div class="row">
                        <div class="column">
                            <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/VJv914t.png" alt="">
                        </div>
                        <div class="column">
                            <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/uoPN0it.jpg" alt="">
                        </div>
                    </div>
                </center>
                <center>
                    <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/Os35Yf0.jpg" alt="">
                </center>
                <hr>

                <h2 class="my-4"><small>Generating the 3-Dimensional Mesh</small> </h2>

                <p class="lead">In order to evaluate the simulation, the area and shape of Barnegat Bay had to be defined. However, mathematically there is no easy way to define such irregular shapes without being computationally intensive. Therefore, a Delaunay triangulation
                    algorithm was implemented in order to define the area using a tessellation of triangles. There are several methods to applying a Delaunay triangulation, but the most computationally efficient is the divide and conquer approach. It
                    runs in a O(Nlog N) time, and therefore works best for this study (Lee & Schacter, 1980). Using SMS by Aquaveo, a GIS map projection of Barnegat Bay was placed onto the interface. Then, a series of feature arcs were generated, encompassing
                    the part of the bay that had data present. An arc represents a conceptual model of a feature in the system. In this case, the arc represents the shoreline for the entire bay. Once the feature arcs were produced encompassing the bay,
                    a Spline fit algorithm was performed in order to smooth out the perimeter of the feature arc connections. This adds more realism to the model and removes the sharp edges that were originally present (Lange, 1986).
                </p>
                <p class="lead">Once a smooth curve was generated around Barnegat Bay in SMS, the Delaunay triangulation had to be performed. For three points A, B, and C, they are connected by a circle circumscribing a triangle inside. The algorithm must determine if
                    point D is inside the circle. After determining the determinant, if the value is greater than 0, then it can be concluded that the point lies within the circle (Figure 3). The matrixes for points A, B, C, and D is defined by the following:
                </p>
                <center>
                    <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/nmt2I89.jpg" alt="">
                </center>
                <p class="lead">The divide and conquer method for finding Delaunay triangles uses random distributions to choose vertices and generates the two possible triangles that can be made from them (Lee & Schacter, 1980). It then checks which one is a Delaunay
                    triangle and which one is not, and chooses the former to be utilized.
                </p>
                <p class="lead">This was implemented into SMS, which generated the triangulated mesh of Barnegat Bay. However, in order to add the depth and 3-dimensionality to the mesh, it had to be interpolated to the elevation data gathered. The data was imported
                    and contained an x, y, and z coordinate for each elevation value. The mesh was then interpolated, where each data value in the triangles were averaged in order to be assigned to the node where the triangles intersected. A visual representation
                    of the mesh and interpolation was generated.
                </p>
                <center>
                    <div class="row">
                        <div class="column">
                            <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/1jTazyA.jpg" alt="">
                        </div>
                        <div class="column">
                            <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/1r8tonu.jpg" alt="">
                        </div>
                    </div>
                </center>
                <center>
                    <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/lgtv7Qi.jpg" alt="">
                </center>

                <hr>

                <h2 class="my-4"><small>Conducting Simulation</small> </h2>

                <p class="lead">A SRH-2D simulation was implemented in SMS. This model first treats water as an incompressible fluid and derives the Navier-Stokes equation. Deriving this equation can yield the 1-dimensional St. Venant equation, which describes the flow
                    of a fluid below a pressure surface. Then, these 2D depth-averaged dynamic wave equations can be solved using a finite-volume numerical method, which is a method of solving partial differential equations. Basically, each node on the
                    mesh is assigned a volume, and then each term for the differential equation at this point is converted to an integral, which is then evaluated as a flux. This method is advantageous for this model, as it works easily for unstructured
                    meshes that may have some errors in its geometry (Hwang, 2013). The model treated the simulation as a steady state flow, where diffusion occurs at a constant rate over time. An unsteady state flow is more realistic; however, it comes
                    at the cost of computational strain. As a result, to simplify the model and allow for easier implementation, a steady state flow simulation was conducted (Deissler, 1965). Finally, a wetting/drying algorithm was implemented in order
                    to account for any errors made by the previous equations. This is because typically, older hydrodynamic models have treated the coast as a stable boundary that is unchanging. However, this is untrue, as the coast periodically changes
                    from wet to dry and back to wet as tides/waves change (Medeiros & Hagen, 2012). Finally, the model control parameters were set. The start time was set to 0 hours, time-step set to 5 seconds, and the end time was set to how long the
                    simulation should run. The simulation outputs a contour plot and vector field of the circulation of water in the system, where the length of the vector corresponds to the velocity of water flow at that point. The simulation outputs
                    velocity magnitude, direction, basin stress, water depth, water elevation & pressure, and finally the Froude number. This is a dimensionless number that defines the ratio flow inertia to the external field. If this value is less than
                    1, it means the water at the point is undergoing subcritical flow, where the flow velocity is less than the wave velocity. If the value is greater than 1, it is undergoing supercritical flow (Vaughan, & O’Malley, 2005). These parameters
                    were then simulated and modeled over the time steps to produce a vector field of the circulation patterns.
                </p>

                <center>
                    <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/dF6d831.png" alt="">
                </center>
                <center>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LifTDaZkP94" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center>

                <hr>

                <h2 class="my-4"><small>References</small> </h2>
                <p class="lead">Deissler, R. G. (1965). Problem of Steady-State Shear-Flow Turbulence. Physics of Fluids, 8(3),391. doi:10.1063/1.1761236
                </p>
                <p class="lead">Dietrich, J., Kolar, R., & Luettich, R. (2004). Assessment of ADCIRC wetting and drying algorithm. Computational Methods in Water Resources: Volume 2, Proceedings of the XVth International Conference on Computational Methods in Water Resources
                    Developments in Water Science, 1767-1778. doi:10.1016/s0167-5648(04)80183-7
                </p>
                <p class="lead">Hwang, Y. (2013). A characteristic particle method for the Saint Venant equations. Computers & Fluids, 76, 58-72. doi:10.1016/j.compfluid.2013.01.027 IPCC. (2013). Near-term Climate Change: Projections and Predictability. Climate Change
                    2013 - The Physical Science Basis, 953-1028. doi:10.1017/cbo9781107415324.023
                </p>
                <p class="lead">Kennish, M. J., Bricker, S. B., Dennison, W. C., Glibert, P. M., Livingston, R. J., Moore, K. A., .. . Valiela, I. (2007). Barnegat Bay–Little Egg Harbor Estuary: Case Study Of A Highly Eutrophic Coastal Bay System. Ecological Applications,
                    17(Sp5)
                </p>
                <p class="lead">Lange, D. (1986). Spline-Interpolation. Methoden Der Signal- Und Systemanalyse, 113-127.doi:10.1007/978-3-663-14028-3_13
                </p>
                <p class="lead">Lee, D.T. & Schachter, B.J. International Journal of Computer and Information Sciences (1980)9: 219. https://doi.org/10.1007/BF00977785
                </p>
                <p class="lead">Medeiros, S. C., & Hagen, S. C. (2012). Review of wetting and drying algorithms for numerical tidal flow models. International Journal for Numerical Methods in Fluids, 71(4),473-487. doi:10.1002/fld.3668
                </p>
                <p class="lead">NJ Coastal Management Program. (2019). Coastal Training Program - Jacques Cousteau NERR & Barnegat Bay Partnership. Retrieved from http://www.prepareyourcommunitynj.org/sea-level-rise/
                </p>
                <p class="lead">NJDEP. (2019). NJDEP-Barnegat Bay. Retrieved from https://www.nj.gov/dep/barnegatbay/bbfh.htm
                </p>

                <footer>
                    <center>
                        <ul>

                            <li><a href="mailto:fdagostino@college.harvard.edu">email</a>

                            </li>

                            <li><a href="https://github.com/frankdag20">github.com/frankdag20</a>

                            </li>

                        </ul>
                    </center>
                </footer>

            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>



</html>
