<!DOCTYPE html>

<html>



<head>

    <!-- link to main stylesheet -->

    <link href="/css/main.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Frank D'Agostino</title>

</head>



<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">

        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">

                        <a class="nav-link" href="/index">Home

              </a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/template/about">About</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="/template/cv">CV</a>

                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <div class="container">

        <div class="card border-0 shadow my-5">

            <div class="card-body p-5">

                <center>
                    <h2 class="my-4">New Jersey District of Key Club International</h2>
                </center>

                <hr>

                <p class="lead">In March 2018, I was elected to serve as the New Jersey District Governor. As one of the most prestigious leadership positions in Key Club and only 33 district governors across the world, I was responsible for leading over 11,000 Key Clubbers
                    in New Jersey for the 2018-2019 service year. During this time, I organized and held 5 in-person district board meetings, organized large events such as Fall Rally, District Convention, elections, volleyball tounaments, and Key Leader,
                    communicated with 22 Lieutenant Governors daily, and worked with the International Council to resolve issues such as membership decline and engagement. I created monthly newsletters, sent out regular emails, created training and educational
                    materials for meetings, edited videos, approved promotional material, and made sure our website was maintained. As governor, I had countless responsibilities and had to work with a wide array of people throughout the year. I managed
                    to improve membership, improve Fall Rally attendance, and increase District Convention by 42%. As part of our District Project of Hunger in New Jersey, we raised over $65,000 for food banks across New Jersey, surpassing the previous
                    year's goal. Additionally, I created many precedents for board meetings, such as board growth seminars, improved social media presence, new committees, and altered responsibilities for certain positions. My final report for my term
                    as governor can be seen below.</p>

                <hr>
                <center>

                    <h2 class="my-4"><small>Final Report</small> </h2>

                </center>

                <p class="lead"><ul>Being District Governor this year has taught me countless lessons. Throughout my term, I have encountered a plethora of difficulties. However, through these difficulties, I was able to truly grow as a person and change. And the person
                    speaking before you all today is a much different person than the person standing here over a year ago. The position of District Governor is considered one of the hardest in all of Key Club International. And it was definitely a challenge.
                    But in the end, I am proud to say that I survived and that I am and forever will be a New Jersey District Governor. Something that all the board members are well aware of is my constant need to evaluate the year and see how I have
                    done as Governor. I am also told I have a great tendency to ramble and talk for a long time, so I will be keeping this concise. As District Governor, I have done the following:                   
                <p>
                </p>
                <ul>
                        <li>I attended all 5 Regional Training Conferences, all board meetings, Key Leader, Governor’s and Administrator’s Training Conference, LeadCON, Kiwanis District Convention, Kiwanis Midwinter, District Convention, and International
                            Convention.</li>
                        <li>Presided over all board meetings, while also creating all board materials, activities, and agendas.</li>
                        <li>Added educational presentations for board meetings on topics such as membership growth, DCON, and finishing their term strong.</li>
                        <li>Reworked and held a successful Fall Rally, garnering more attendees than the past 2 years.</li>
                        <li>Achieved the best Key Leader attendance we’ve ever had.</li>
                        <li>Achieved more combined attendees to our Regional Training Conferences than the past 2 years.</li>
                        <li>Worked heavily to promote our Advocacy Focus and work towards our District Project goals of Hunger in New Jersey.</li>
                        <li>Approved and designed promotional materials, videos, and flyers to represent the New Jersey District.</li>
                        <li>Assigned and oversaw all 23 committees throughout the year, working with the respective committee chairs in order to ensure all work was completed.</li>
                        <li>Created and reviewed officer training and promotion materials.</li>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp                        <li>Evaluated Lieutenant Governors monthly.</li>
                        <li>Created Lieutenant Governor report card evaluations for board meetings.</li>
                        <li>Read all 6,741 emails (about 20 emails a day).</li>
                        <li>Communicated with board members on a daily basis.</li>
                        <li>Completed all Governor Monthly Report Forms.</li>
                        <li>Published newsletters and updates.</li>
                        <li>Communicated regularly with the Kiwanis Committee, our International Trustee, as well as our K-Family branches.</li>
                        <li>Conducted 4 conference calls with each Lieutenant Governor over the course of the year, with over 90 hours of just talking on the phone with LTGs.</li>
                        <li>Ensured that everyone on the board is doing what they need to do and that each Lieutenant Governor is serving their division to the best of their ability.</li>
                        <li>Ensured the election and training of the 2019-2020 New Jersey District Board, as well as training the candidates for Governor to ensure that you have a governor standing in this spot next year to provide such a report.</li>

                </ul>
                <p> 
                </p>
                    District Governor has truly been life changing. I’m not sure how my life would turn out if I didn’t have the experiences I have had. I have met so many people that will be in my life for a lifetime, whether they are there physically or whether it just
                    be their impact. I would like to thank my phenomenal District Administrator Ms. McCann, my Assistant District Administrator Mr. Acerra, and the Kiwanis committee for keeping me and the board on the tracks this year. I would also like
                    to thank Eric, Kaitlin, and Chiara for being the best Executive Board I could’ve asked for. You all made my life so much easier by just being your diligent, hardworking selves. But most importantly, I want to thank all 22 Lieutenant
                    Governors. I will cherish all those hours we spoke and every board meeting we’ve spent together. Each and every one of you genuinely are special and just stand out. I’m not quite sure how to explain it, but I know you all will make
                    a difference in this world we live in. So thank you all, for a imperfect year with many late nights, tough phone calls, or early mornings. And yet, this imperfect year somehow makes it all more perfect. So although this is not goodbye,
                    I can now confidently say I will see you all later.
                </ul>
                </p>
                <p class="lead" float="left">
                    <ul>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Respectfully Submitted, Frank Anthony D’Agostino District Governor 2018-2019
                    </ul>
                </p>


                <hr>



                <p class="lead">I was also awarded the Distinguished Governor Award and George F. Hixsen Fellowship from Kiwanis and Key Club International for outstanding service as a District Governor and for going above and beyond my duties.</p>
                <center><img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/ljhlDy2.jpg" width="370" height="493" alt=""></center>

                <hr>


                <footer>
                    <center>
                        <ul>

                            <li><a href="mailto:fdagostino@college.harvard.edu">email</a>

                            </li>

                            <li><a href="https://github.com/frankdag20">github.com/frankdag20</a>

                            </li>

                        </ul>
                    </center>
                </footer>

            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>



</html>
