<!DOCTYPE html>

<html>



<head>

    <!-- link to main stylesheet -->

    <link href="/css/main.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Frank D'Agostino</title>

</head>



<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">

        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">

                        <a class="nav-link" href="/index">Home

              </a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/template/about">About</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="/template/cv">CV</a>

                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <div class="container">

        <div class="card border-0 shadow my-5">

            <div class="card-body p-5">

                <center>
                    <h2 class="my-4">MATES FIRST Robotics</h2>
                </center>

                <hr>
                
                <p class="lead">As a part of the Marine Academy for Technology and Environmental Science (MATES) FIRST Robotics Team, I led the development of the algorithms behind the robot. Each year had a different competition with a completely new robot. For the 2018 to 2019 season, teams were awarded points for a variety of tasks in the space-probe inspired competition. The robot we made utilized a forklift in order to raise and lower itself, along with a controllable arm to pick up "minerals" and gain points. The forklift design can be seen here:</p>

                
                <center><iframe width="560" height="315" src="https://www.youtube.com/embed/lK73tC6qyHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                
                <p class="lead">Additionally, our robot was able to descend from a starting position by hanging on the "rover" from a metal handle. The robot was also able to lift itself off the floor again until there were no points of contact between the robot and the ground. The lowering motion can be seen here:</p>
                
                <center>


<iframe width="560" height="315" src="https://www.youtube.com/embed/UNgv7bf4KVE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center>


                <p class="lead">As lead programmer for the MATES Robotics team, we worked diligently many hours a week to create the robot, outreach with the club, and prepare for the competition. The code used for the robot can be found <a href="https://github.com/matesrobotics/MATESRobotics2018-2019">here</a>. A snippet of code outlining the "tank" mode controls for the robot controller can be seen here:</p>

                <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.imgur.com/uRYYcWM.png" alt="">

                <p class="lead">Coding in Java, the team used a standard video game controller connected to an Android phone. That phone then communicated with another phone acting as a motor controller on the robot. The robot was controlled using a series of servo motors, DC motors, haptic touch buttons, IR sensors, and FIRST robotics approved engineering parts. The MATES Robotics team was able to make it to the New Jersey states competition, and the engineering of the robot was carefully planned and constructed across the competition season. Overall, it was a great experience and I improved my skills in applying code to real life scenarios and problems.</p>
                <hr>


                <footer>
                    <center>
                        <ul>

                            <li><a href="mailto:fdagostino@college.harvard.edu">email</a>

                            </li>

                            <li><a href="https://github.com/frankdag20">github.com/frankdag20</a>

                            </li>

                        </ul>
                    </center>
                </footer>

            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>



</html>
